::ng-deep .select-light {
  // цвет элемента в списке селекта
  .mat-option-text {
    color: #89868D !important;
  }
}

::ng-deep .select-light {
  // цвет элемента в списке селекта
  .mat-option-text {
    color: #89868D !important;
  }
}

.green {
  color: #56CA00 !important;
}

.red {
  color: red !important;
}

.orange {
  color: #FFB400 !important;
}
