<form class="auth" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">

        <mat-error *ngIf="loginForm?.get('email')?.hasError('required')">
          Email is required.
        </mat-error>
        <mat-error *ngIf="loginForm?.get('email')?.hasError('email')">
          Please enter a valid email address.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">

        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="loginForm.invalid || isSubmitted">Login</button>
    </mat-card-actions>
  </mat-card>
</form>
