<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>

    <mat-form-field appearance="outline">
      <input matInput placeholder="Добавка" formControlName="additive">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput placeholder="Наименование на русском" formControlName="namerus">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput placeholder="Наименование на английском" formControlName="namelat">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select placeholder="Статус" formControlName="status">
        <mat-option value="halal">Халяль</mat-option>
        <mat-option value="haram">Харам</mat-option>
        <mat-option value="doubtful">Сомнительное</mat-option>
        <mat-option value="unknown">Не известно</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select placeholder="Категория" formControlName="category">
        <mat-option value="meat">Мясо</mat-option>
        <mat-option value="dairy">Молочные продукты</mat-option>
        <mat-option value="vegetables">Овощи</mat-option>
        <mat-option value="fruits">Фрукты</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <textarea matInput placeholder="Описание на русском" formControlName="descrus"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <textarea matInput placeholder="Описание на английском" formControlName="desclat"></textarea>
    </mat-form-field>


    <input type="file" (change)="onFileSelected($event)">

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Отмена</button>
  <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="onSubmit(form)">Добавить</button>
</mat-dialog-actions>
